*, *::before, *::after{
    box-sizing: border-box;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: rgb(29,213,253);
    background: rgb(2,0,36);
    background: -moz-linear-gradient(135deg, rgba(2,0,36,1) 40%, rgba(108,241,208,1) 50%, rgba(0,212,255,1) 60%);
    background: rgb(7,0,133);
    background: -moz-linear-gradient(135deg, rgba(7,0,133,0.74) 5%, rgba(108,241,208,1) 50%, rgba(0,212,255,0.7354988399071926) 95%);
    background: -webkit-linear-gradient(135deg, rgba(7,0,133,0.74) 5%, rgba(108,241,208,1) 50%, rgba(0,212,255,0.7354988399071926) 95%);
    background: linear-gradient(135deg, rgba(7,0,133,0.74) 5%, rgba(108,241,208,1) 50%, rgba(0,212,255,0.7354988399071926) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#070085",endColorstr="#00d4ff",GradientType=1);
}
div.outputPanel{
    border-radius: 25px 25px 25px 25px;
}

hr{
    width: 485px;
    position: fixed;
}

div.calcBody{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: minmax(150px, auto) repeat(5, 125px);
}

div.calcBody > button{
    cursor: pointer;
    font-size: 2.5rem;
    border: 2px solid #000;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
}

div.calcBody > button:hover{
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

button.doubleWidth{
    grid-column: span 2;
}

div.outputPanel{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}
.outputPanel .lastNumber{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1rem;
}

.outputPanel .currentNumber{
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
}